.showContainer{
  margin: auto;
  max-width: 640px;
}

.showTable{
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  width: 100%;
}

.showTable th{
  width: 144px;
  background-color: #f7f9fc;
  border: 1px solid #dee2e6;
}

.showTable td{
  border: 1px solid #dee2e6;

}